html {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: blueviolet;
    display: flex;
    justify-content: none;
}




.menu a{
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: red;
}